.product {
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	padding: 16px;
	text-align: center;
	transition: transform 0.3s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product:hover {
	transform: translateY(-5px);
  }
  
  .imageContainer {
	position: relative;
  }
  
  .image {
	width: 100%;
	height: 28vh;
	border-radius: 8px;
  }
  
  .banner {
	position: absolute;
	top: -3vh;
	left:-4vh;
	border-radius: .5vh;
	background-color: red;
	color: white;
	padding:2vh 1vh .4vh 1vh;
	transform: rotate(-45deg);
	/* transform-origin: top right; */
	text-align: center;
  }
  
  .name {
	font-size: 1.5rem;
	margin: 16px 0;
  }
  
  .firstPrice {
	font-size: 1rem;
	color: #555;
	margin-bottom: 16px;
	text-decoration: line-through;
  }
  
  .price {
	font-size: 1.25rem;
	font-weight: bold;
	color: #333;
  }
  
  .discount {
	font-size: 1rem;
	color: green;
  }
  
  @media (max-width: 768px) {
	.product {
	  padding: 12px;
	}
  .banner{font-size: 1vh;}
	.name {
	  font-size: 1.25rem;
	}
  
	.description {
	  font-size: 0.9rem;
	}
  
	.price {
	  font-size: 1rem;
	}
  }
  