/** @format */

@font-face {
  font-family: Tanha;
  src: url('../../public/font/IRANSansWeb\(FaNum\).ttf');
}

* {
  transition: all 0.4s;
  box-sizing: border-box;
  font-family: Tanha;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
@keyframes rotateBall {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.loading {
  border: 0.1vh rgb(255, 218, 218) solid;
  border-bottom: none;
  width: 50vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loadingRect {
  width: 22%;
}

.loadingRect,
.loadingSquare {
  height: 80%;
  border-radius: 1vh;
  background: linear-gradient(96deg, rgb(233, 177, 177), rgb(255, 220, 220));
}
.loadingSpin {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpin p {
  position: absolute;
}
.loadingSquare {
  width: 70%;
}
.cross {
  transition: transform 0.7s;
  color: rgb(244, 94, 0);
  background-color: #ffffffc8;
  border-radius: 7vh;
  padding: 0.3vh;
}

.cross:hover {
  cursor: grabbing;
  color: rgba(252, 107, 3, 0.9);
  transform: rotate(90deg);
}

::-webkit-scrollbar {
  width: 1.2vh;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 32, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff2f2;
  border: ridge 0.1vh #fb7676;
  box-shadow: 0px 0px 1px 1px #f88d14 inset, 1px 1px 2px 1px #fbfaf9;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(248, 166, 14);
  box-shadow: 0px 0px 1px 1px #f7c8b9, 1px 1px 1px 1px #fbf9f9 inset;
}
